In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#  Project Objective
Investigate whether there is any measurable difference in progress based on the eligibility category. There are three options:
*Preliminary Analysis*
+ Developmental evaluation (delay)
+ Diagnosed condition
+ Diagnosed condition, developmental evaluation (by both delay and diagnosis)
1. Start by looking at overall progress by eligibility category (column AI of the "Elig Timeline Rpt 2018-2022" tab)
2. Factor in the time of service ("ECO with Exit-21-22" tab)
3. Do the above comparison by POE as well (column A of the "ECO with Exit21-22")
*Additional Analysis*
Additional areas you can look into are listed below:
+ Does typical time of service differ for different eligibility categories?

In [3]:
teis = pd.ExcelFile("../Data/TEIS_NSS_Project_Data_10_2022.xlsx")
eco_21_22_exit = pd.read_excel(teis, 'ECO with Exit21-22', nrows=8633)
elig = pd.read_excel(teis, 'Elig Timeline Rpt 2018-2022', nrows=67611)

In [4]:
eco_21_22_exit["CHILD_ID"] = eco_21_22_exit["CHILD_ID"].fillna(0).apply(np.int64)
eco_21_22_exit

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8628,UC,488802,2020-09-21,4.0,4.0,3.0,2021-09-09,6.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,353.0,353.0,0.0
8629,UC,516136,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,130.0,-44574.0,-44574.0
8630,UC,490688,2020-10-27,4.0,5.0,7.0,2021-10-13,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,495.0,351.0,0.0
8631,UC,514216,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,65.0,-44537.0,-44537.0
8632,NaN,0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(elig['Init. Elig. Category'].value_counts()['Developmental Evaluation'])

28317

In [6]:
print(elig['Init. Elig. Category'].value_counts()['Diagnosed Condition'])

4675

In [7]:
print(elig['Init. Elig. Category'].value_counts()['Diagnosed Condition, Developmental Evaluation'])

5298

In [8]:
elig = elig[['District', 'Child ID', 'Init. Elig. Category']]

In [9]:
eco_21_22_exit = eco_21_22_exit[['DISTRICT', 'CHILD_ID', 'ECO_Entry_DATE', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'ECO_Exit_DATE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE']]

In [10]:
elig.rename(columns = {'District':'DISTRICT', 'Child ID':'CHILD_ID'}, inplace = True)

In [11]:
eco_exit_elig = pd.merge(elig, eco_21_22_exit, how="inner", on=["DISTRICT", "CHILD_ID"])

In [12]:
eco_exit_elig

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE
0,ET,446765,Developmental Evaluation,2019-06-14,3.0,6.0,3.0,2021-06-02,6.0,3.0,5.0
1,ET,450627,Developmental Evaluation,2019-03-04,1.0,2.0,1.0,2021-09-13,7.0,6.0,7.0
2,ET,444509,Developmental Evaluation,2018-10-02,2.0,4.0,4.0,2021-04-20,7.0,7.0,7.0
3,ET,459059,Diagnosed Condition,2019-04-25,3.0,3.0,2.0,2021-06-17,3.0,3.0,7.0
4,ET,452507,Diagnosed Condition,2019-05-13,2.0,5.0,1.0,2021-05-03,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
8618,UC,523972,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8619,UC,512707,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8620,UC,509553,"Diagnosed Condition, Developmental Evaluation",NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8621,UC,509684,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8622,UC,519977,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

Subtracted entry score from exit score to gauge progress

In [13]:
eco_exit_elig['SOCIAL SCALE PROGRESS'] = eco_exit_elig['Exit SOCIAL_SCALE'] - eco_exit_elig['Ent SOCIAL_SCALE']
eco_exit_elig

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,SOCIAL SCALE PROGRESS
0,ET,446765,Developmental Evaluation,2019-06-14,3.0,6.0,3.0,2021-06-02,6.0,3.0,5.0,3.0
1,ET,450627,Developmental Evaluation,2019-03-04,1.0,2.0,1.0,2021-09-13,7.0,6.0,7.0,6.0
2,ET,444509,Developmental Evaluation,2018-10-02,2.0,4.0,4.0,2021-04-20,7.0,7.0,7.0,5.0
3,ET,459059,Diagnosed Condition,2019-04-25,3.0,3.0,2.0,2021-06-17,3.0,3.0,7.0,0.0
4,ET,452507,Diagnosed Condition,2019-05-13,2.0,5.0,1.0,2021-05-03,7.0,7.0,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8618,UC,523972,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8619,UC,512707,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8620,UC,509553,"Diagnosed Condition, Developmental Evaluation",NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8621,UC,509684,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8622,UC,519977,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [14]:
eco_exit_elig['KNOWLEDGE SCALE PROGRESS'] = eco_exit_elig['Exit KNOWLEDGE_SCALE'] - eco_exit_elig['Ent KNOWLEDGE_SCALE']

In [15]:
eco_exit_elig['APPROPRIATE ACTION PROGRESS'] = eco_exit_elig['Exit APPROPRIATE_ACTION_SCALE'] - eco_exit_elig['Ent APPROPRIATE_ACTION_SCALE']

In [16]:
eco_exit_elig

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,SOCIAL SCALE PROGRESS,KNOWLEDGE SCALE PROGRESS,APPROPRIATE ACTION PROGRESS
0,ET,446765,Developmental Evaluation,2019-06-14,3.0,6.0,3.0,2021-06-02,6.0,3.0,5.0,3.0,-3.0,2.0
1,ET,450627,Developmental Evaluation,2019-03-04,1.0,2.0,1.0,2021-09-13,7.0,6.0,7.0,6.0,4.0,6.0
2,ET,444509,Developmental Evaluation,2018-10-02,2.0,4.0,4.0,2021-04-20,7.0,7.0,7.0,5.0,3.0,3.0
3,ET,459059,Diagnosed Condition,2019-04-25,3.0,3.0,2.0,2021-06-17,3.0,3.0,7.0,0.0,0.0,5.0
4,ET,452507,Diagnosed Condition,2019-05-13,2.0,5.0,1.0,2021-05-03,7.0,7.0,7.0,5.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8618,UC,523972,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8619,UC,512707,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8620,UC,509553,"Diagnosed Condition, Developmental Evaluation",NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8621,UC,509684,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
8622,UC,519977,Developmental Evaluation,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
eco_exit_elig= eco_exit_elig.drop(['Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE'], axis=1)

Found total number of days

In [18]:
eco_exit_elig['TOTAL DAYS'] = (eco_exit_elig['ECO_Exit_DATE'] - eco_exit_elig['ECO_Entry_DATE']) / np.timedelta64(1, 'D')

In [19]:
eco_exit_elig

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,ECO_Exit_DATE,SOCIAL SCALE PROGRESS,KNOWLEDGE SCALE PROGRESS,APPROPRIATE ACTION PROGRESS,TOTAL DAYS
0,ET,446765,Developmental Evaluation,2019-06-14,2021-06-02,3.0,-3.0,2.0,719.0
1,ET,450627,Developmental Evaluation,2019-03-04,2021-09-13,6.0,4.0,6.0,924.0
2,ET,444509,Developmental Evaluation,2018-10-02,2021-04-20,5.0,3.0,3.0,931.0
3,ET,459059,Diagnosed Condition,2019-04-25,2021-06-17,0.0,0.0,5.0,784.0
4,ET,452507,Diagnosed Condition,2019-05-13,2021-05-03,5.0,2.0,6.0,721.0
...,...,...,...,...,...,...,...,...,...
8618,UC,523972,Developmental Evaluation,NaT,NaT,NaN,NaN,NaN,NaN
8619,UC,512707,Developmental Evaluation,NaT,NaT,NaN,NaN,NaN,NaN
8620,UC,509553,"Diagnosed Condition, Developmental Evaluation",NaT,NaT,NaN,NaN,NaN,NaN
8621,UC,509684,Developmental Evaluation,NaT,NaT,NaN,NaN,NaN,NaN
8622,UC,519977,Developmental Evaluation,NaT,NaT,NaN,NaN,NaN,NaN

Filtered out cases where total time was less than 6 months

In [20]:
eco_exit_elig=eco_exit_elig[eco_exit_elig['TOTAL DAYS']>=180]

In [21]:
eco_exit_elig

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,ECO_Exit_DATE,SOCIAL SCALE PROGRESS,KNOWLEDGE SCALE PROGRESS,APPROPRIATE ACTION PROGRESS,TOTAL DAYS
0,ET,446765,Developmental Evaluation,2019-06-14,2021-06-02,3.0,-3.0,2.0,719.0
1,ET,450627,Developmental Evaluation,2019-03-04,2021-09-13,6.0,4.0,6.0,924.0
2,ET,444509,Developmental Evaluation,2018-10-02,2021-04-20,5.0,3.0,3.0,931.0
3,ET,459059,Diagnosed Condition,2019-04-25,2021-06-17,0.0,0.0,5.0,784.0
4,ET,452507,Diagnosed Condition,2019-05-13,2021-05-03,5.0,2.0,6.0,721.0
...,...,...,...,...,...,...,...,...,...
8485,UC,508649,Developmental Evaluation,2021-09-09,2022-03-28,2.0,4.0,2.0,200.0
8559,UC,498101,"Diagnosed Condition, Developmental Evaluation",2021-10-11,2022-04-14,0.0,0.0,0.0,185.0
8569,UC,482146,Developmental Evaluation,2021-10-27,2022-05-11,0.0,-2.0,-1.0,196.0
8570,UC,511690,Developmental Evaluation,2021-10-27,2022-05-11,0.0,-2.0,0.0,196.0
8573,UC,502223,Developmental Evaluation,2021-08-24,2022-02-23,0.0,0.0,0.0,183.0

Created new dataframes for Developmental Evaluation, Diagnosed Conditions, and Both

In [22]:
dev_eval=eco_exit_elig[eco_exit_elig['Init. Elig. Category']=='Developmental Evaluation']

In [23]:
dev_eval

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,ECO_Exit_DATE,SOCIAL SCALE PROGRESS,KNOWLEDGE SCALE PROGRESS,APPROPRIATE ACTION PROGRESS,TOTAL DAYS
0,ET,446765,Developmental Evaluation,2019-06-14,2021-06-02,3.0,-3.0,2.0,719.0
1,ET,450627,Developmental Evaluation,2019-03-04,2021-09-13,6.0,4.0,6.0,924.0
2,ET,444509,Developmental Evaluation,2018-10-02,2021-04-20,5.0,3.0,3.0,931.0
8,ET,444163,Developmental Evaluation,2018-10-29,2020-09-02,-1.0,0.0,-1.0,674.0
14,ET,458787,Developmental Evaluation,2019-05-03,2021-10-07,4.0,3.0,6.0,888.0
...,...,...,...,...,...,...,...,...,...
8392,SW,479356,Developmental Evaluation,2021-10-14,2022-04-14,0.0,3.0,2.0,182.0
8485,UC,508649,Developmental Evaluation,2021-09-09,2022-03-28,2.0,4.0,2.0,200.0
8569,UC,482146,Developmental Evaluation,2021-10-27,2022-05-11,0.0,-2.0,-1.0,196.0
8570,UC,511690,Developmental Evaluation,2021-10-27,2022-05-11,0.0,-2.0,0.0,196.0
8573,UC,502223,Developmental Evaluation,2021-08-24,2022-02-23,0.0,0.0,0.0,183.0

In [24]:
diag_cond=eco_exit_elig[eco_exit_elig['Init. Elig. Category']=='Diagnosed Condition']

In [25]:
diag_cond

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,ECO_Exit_DATE,SOCIAL SCALE PROGRESS,KNOWLEDGE SCALE PROGRESS,APPROPRIATE ACTION PROGRESS,TOTAL DAYS
3,ET,459059,Diagnosed Condition,2019-04-25,2021-06-17,0.0,0.0,5.0,784.0
4,ET,452507,Diagnosed Condition,2019-05-13,2021-05-03,5.0,2.0,6.0,721.0
9,ET,446573,Diagnosed Condition,2018-11-06,2021-04-09,5.0,5.0,4.0,885.0
12,ET,457852,Diagnosed Condition,2019-04-09,2021-11-09,3.0,5.0,6.0,945.0
17,ET,453730,Diagnosed Condition,2019-03-19,2021-08-20,5.0,4.0,0.0,885.0
...,...,...,...,...,...,...,...,...,...
8165,SC,461078,Diagnosed Condition,2021-09-16,2022-03-22,0.0,0.0,0.0,187.0
8221,SE,507761,Diagnosed Condition,2021-08-30,2022-03-07,0.0,0.0,0.0,189.0
8331,SE,507890,Diagnosed Condition,2021-09-21,2022-03-21,1.0,0.0,1.0,181.0
8429,SW,506725,Diagnosed Condition,2021-08-19,2022-06-30,1.0,3.0,3.0,315.0
8433,SW,509948,Diagnosed Condition,2021-09-15,2022-03-15,6.0,5.0,6.0,181.0

In [26]:
dev_diag=eco_exit_elig[eco_exit_elig['Init. Elig. Category']=='Diagnosed Condition, Developmental Evaluation']

In [27]:
dev_diag

,DISTRICT,CHILD_ID,Init. Elig. Category,ECO_Entry_DATE,ECO_Exit_DATE,SOCIAL SCALE PROGRESS,KNOWLEDGE SCALE PROGRESS,APPROPRIATE ACTION PROGRESS,TOTAL DAYS
5,ET,460253,"Diagnosed Condition, Developmental Evaluation",2019-05-17,2021-07-16,1.0,-3.0,0.0,791.0
6,ET,454367,"Diagnosed Condition, Developmental Evaluation",2019-02-07,2021-07-22,5.0,1.0,6.0,896.0
10,ET,463499,"Diagnosed Condition, Developmental Evaluation",2019-07-08,2020-12-14,-2.0,2.0,-3.0,525.0
11,ET,462229,"Diagnosed Condition, Developmental Evaluation",2019-06-13,2021-12-27,4.0,3.0,3.0,928.0
13,ET,453126,"Diagnosed Condition, Developmental Evaluation",2019-02-12,2021-07-02,3.0,0.0,5.0,871.0
...,...,...,...,...,...,...,...,...,...
7785,MD,497560,"Diagnosed Condition, Developmental Evaluation",2021-09-08,2022-03-08,1.0,0.0,0.0,181.0
7844,NW,515423,"Diagnosed Condition, Developmental Evaluation",2021-12-28,2022-06-29,-2.0,1.0,-2.0,183.0
7884,NW,498218,"Diagnosed Condition, Developmental Evaluation",2021-11-10,2022-05-20,1.0,-1.0,1.0,191.0
8244,SE,505113,"Diagnosed Condition, Developmental Evaluation",2021-09-09,2022-03-08,0.0,1.0,0.0,180.0
8559,UC,498101,"Diagnosed Condition, Developmental Evaluation",2021-10-11,2022-04-14,0.0,0.0,0.0,185.0