In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
eco_21_22_exit1 = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="ECO with Exit21-22")
eco_21_22_exit1.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [3]:
eco_21_22_data = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="Elig Timeline Rpt 2018-2022")
eco_21_22_data.head()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [18]:
eco_21_22_exit=eco_21_22_exit1[['CHILD_ID','DISTRICT','Days btw Initial and Exit','Days btw I-IFSP to entry ECO']]
eco_21_22_exit.head()

   CHILD_ID DISTRICT  Days btw Initial and Exit  Days btw I-IFSP to entry ECO
0  500335.0       ET                      206.0                           0.0
1  479453.0       ET                      704.0                           0.0
2  510663.0       ET                      115.0                      -44483.0
3  452482.0       ET                     1053.0                           0.0
4  506507.0       ET                      159.0                      -44434.0

# change name
eco_21_22_exit=eco_21_22_exit.rename(columns={"Days btw Initial and Exit":"Initial and Exit", "Days btw I-IFSP to entry ECO": "I-IFSP to Entry ECO", "CHILD_ID":"Child ID", "DISTRICT":"District"})
eco_21_22_exit.head()

In [25]:
# remove nulls
eco_21_22_exit = eco_21_22_exit.dropna()
eco_21_22_exit.head()

   CHILD_ID DISTRICT  Days btw Initial and Exit  Days btw I-IFSP to entry ECO
0  500335.0       ET                      206.0                           0.0
1  479453.0       ET                      704.0                           0.0
2  510663.0       ET                      115.0                      -44483.0
3  452482.0       ET                     1053.0                           0.0
4  506507.0       ET                      159.0                      -44434.0

In [26]:
# change datatype
eco_21_22_exit = eco_21_22_exit.astype({'CHILD_ID':'int', 'DISTRICT':'str', 'Days btw Initial and Exit':'int', 'Days btw I-IFSP to entry ECO':'int'})
eco_21_22_exit.head()

   CHILD_ID DISTRICT  Days btw Initial and Exit  Days btw I-IFSP to entry ECO
0    500335       ET                        206                             0
1    479453       ET                        704                             0
2    510663       ET                        115                        -44483
3    452482       ET                       1053                             0
4    506507       ET                        159                        -44434

In [28]:
# fintering out negative values and zeros
eco_21_22_exit = eco_21_22_exit.loc[eco_21_22_exit['Days btw I-IFSP to entry ECO']>0]
eco_21_22_exit.head()

    CHILD_ID DISTRICT  Days btw Initial and Exit  Days btw I-IFSP to entry ECO
6     449725       ET                        444                            90
11    473375       ET                        836                            23
13    473208       ET                        493                            32
16    491757       ET                        234                            49
21    494701       ET                        219                            68

In [29]:
eco_21_22_exit = eco_21_22_exit.loc[eco_21_22_exit['Days btw Initial and Exit'] >=180]
eco_21_22_exit.head()
eco_21_22_exit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1521 entries, 6 to 8620
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CHILD_ID                      1521 non-null   int64
 1   DISTRICT                      1521 non-null   object
 2   Days btw Initial and Exit     1521 non-null   int64
 3   Days btw I-IFSP to entry ECO  1521 non-null   int64
dtypes: int64(3), object(1)
memory usage: 59.4+ KB

In [10]:
change name of init elg category

SyntaxError: invalid syntax (366943846.py, line 1)

In [ ]:
# essential columns
# - child id, district, init elig category

In [ ]:
# merge on child id and district

In [13]:
df = pd.merge(eco_21_22_exit1, eco_21_22_data, how='left', left_on = 'CHILD_ID', right_on = 'Child ID')

In [14]:
df.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date_y,Exit Reason_y
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,7.0,7.0,NaN,9.0,20.0,Eligible,Developmental Evaluation,2021-04-14,2021-11-15,618 - Part B eligible
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,-1.0,7.0,0.0,8.0,15.0,Eligible,Developmental Evaluation,2020-03-20,2022-02-25,618 - Completion of IFSP/ no longer requires s...
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,7.0,9.0,10.0,22.0,Eligible,Developmental Evaluation,2021-10-01,2022-02-06,618 - Part B eligible
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,0.0,NaN,NaN,1.0,14.0,Eligible,Developmental Evaluation,2019-01-16,2021-12-19,618 - Part B eligible
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,10.0,31.0,0.0,2.0,34.0,Eligible,Developmental Evaluation,2021-08-04,2022-02-01,618 - Parent withdraw

In [19]:
narrow_df = df[['Init. Elig. Category','DISTRICT', 'CHILD_ID', 'Ent SOCIAL_SCALE', 'Ent KNOWLEDGE_SCALE', 'Ent APPROPRIATE_ACTION_SCALE', 'Exit SOCIAL_SCALE', 'Exit KNOWLEDGE_SCALE', 'Exit APPROPRIATE_ACTION_SCALE', 'ECO_Entry_DATE', 'ECO_Exit_DATE','Days btw Initial and Exit','Days btw I-IFSP to entry ECO', '<Calc> Day count']]

In [20]:
narrow_df.head()

,Init. Elig. Category,DISTRICT,CHILD_ID,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,ECO_Entry_DATE,ECO_Exit_DATE,Days btw Initial and Exit,Days btw I-IFSP to entry ECO,<Calc> Day count
0,Developmental Evaluation,ET,500335.0,5.0,3.0,4.0,6.0,3.0,4.0,2021-04-23,2021-10-23,206.0,0.0,183.0
1,Developmental Evaluation,ET,479453.0,7.0,7.0,7.0,7.0,7.0,7.0,2020-03-23,2021-08-19,704.0,0.0,514.0
2,Developmental Evaluation,ET,510663.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,115.0,-44483.0,NaN
3,Developmental Evaluation,ET,452482.0,2.0,3.0,3.0,5.0,3.0,5.0,2019-01-31,2021-11-22,1053.0,0.0,1026.0
4,Developmental Evaluation,ET,506507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,159.0,-44434.0,NaN

###narrow_df = narrow_df.fillna(0)
narrow_df.head()

In [17]:
narrow_df = narrow_df.dropna()
narrow_df.head()

,Init. Elig. Category,DISTRICT,CHILD_ID,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,ECO_Entry_DATE,ECO_Exit_DATE,<Calc> Day count
0,Developmental Evaluation,ET,500335.0,5.0,3.0,4.0,6.0,3.0,4.0,2021-04-23,2021-10-23,183.0
1,Developmental Evaluation,ET,479453.0,7.0,7.0,7.0,7.0,7.0,7.0,2020-03-23,2021-08-19,514.0
3,Developmental Evaluation,ET,452482.0,2.0,3.0,3.0,5.0,3.0,5.0,2019-01-31,2021-11-22,1026.0
5,Developmental Evaluation,ET,494216.0,2.0,4.0,6.0,4.0,5.0,7.0,2021-01-06,2021-06-30,175.0
6,Developmental Evaluation,ET,449725.0,4.0,5.0,7.0,7.0,7.0,7.0,2020-08-06,2021-04-21,258.0

In [21]:
narrow_df = narrow_df.loc[(narrow_df['<Calc> Day count'] >= 180)]
narrow_df.head()

,Init. Elig. Category,DISTRICT,CHILD_ID,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,ECO_Entry_DATE,ECO_Exit_DATE,Days btw Initial and Exit,Days btw I-IFSP to entry ECO,<Calc> Day count
0,Developmental Evaluation,ET,500335.0,5.0,3.0,4.0,6.0,3.0,4.0,2021-04-23,2021-10-23,206.0,0.0,183.0
1,Developmental Evaluation,ET,479453.0,7.0,7.0,7.0,7.0,7.0,7.0,2020-03-23,2021-08-19,704.0,0.0,514.0
3,Developmental Evaluation,ET,452482.0,2.0,3.0,3.0,5.0,3.0,5.0,2019-01-31,2021-11-22,1053.0,0.0,1026.0
6,Developmental Evaluation,ET,449725.0,4.0,5.0,7.0,7.0,7.0,7.0,2020-08-06,2021-04-21,444.0,90.0,258.0
7,Developmental Evaluation,ET,494502.0,6.0,4.0,5.0,7.0,5.0,6.0,2021-03-01,2021-10-15,277.0,0.0,228.0