# Project Objective

Additional areas you can look into are listed below: 
+ **Time of Service `<<OUR SECTION>>`** Does typical time of service differ for different eligibility categories?

**Timeline**
+ Tuesday, Oct 11 + Thursday, Oct 13 (notebook walkthrough): EDA / pick topic
+ Saturday, Oct 15 + Tuesday, Oct 18: Analysis
+ Thursday, Oct 20 (notebook walkthrough): graphs / put together slides
+ Saturday, Oct 22: polish presentations in the morning, then dress rehearsal in the afternoon - fix issues between Saturday and Tuesday
+ Tuesday, Oct 25: presentation

**Abi Advice**
+ Decide on naming conventions and case/capitalization `COMPLETED`
+ Spend time together brainstorming potential avenues: ie, "Abi is going to look into the colors, Rob is going to look into the elements"
+ Split up for EDA, but don't be afraid to ask each other for help if you get stuck; ie, "I can't figure out this error message can someone help me quickly?"
+ Reconvene at a designated time and share findings: ie, "the most common color is x, the most common element is y"
+ Come up with a goal / route you want to take, and work together and share code to accomplish it

### Time of Service: Does typical time of service differ for different eligibility categories?
+ Info is contained in 'ECO with Exit21-22' (eco_21_22_exit)
+ Info is contained in 'Elig Timeline Rpt 2018-2022' (eco_21_22_data)
>+ What do we need?
    >>+ "typical time of service": 'ECO with Exit21-22' (eco_21_22_exit)
    >>>+ Preston (column BF: 'Days btw I-ISFP and Exit') **casemanagement life cycle**
    >>>+ Preston (column BG: 'Days btw Initial and Exit') **casemanagement life cycle**
    >>>+ Matt (columns G-C) **services provided**
    >>>+ Sarah (column R)
    >>>+ Delegate: explore each methodology and make a case for consistency among them
    >>>+ Consider: making a case for each during presentation
    >>>+ Consider visualizing metrics
    >>+ "eligibility categories": 'Elig Timeline Rpt 2018-2022' (eco_21_22_data)
    >>>+ column AI


+ Visuals
>+ line chart: Preston and Matt for life cycle over time
>+ bar chart: Sarah suggested count of days (y axis) per category (x axis)
>+ FacetGrid: compare categories at same time
>+ histogram: further break out the averages (provide further insight into the bar chart)

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [66]:
# Access raw dataframe
eco_21_22_exit = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="ECO with Exit21-22")
eco_21_22_exit.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [67]:
# Display columns in dataframe
eco_21_22_exit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8636 entries, 0 to 8635
Data columns (total 60 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   DISTRICT                              8633 non-null   object
 1   CHILD_ID                              8632 non-null   float64
 2   ECO_Entry_DATE                        5721 non-null   datetime64[ns]
 3   Ent SOCIAL_SCALE                      5721 non-null   float64
 4   Ent KNOWLEDGE_SCALE                   5721 non-null   float64
 5   Ent APPROPRIATE_ACTION_SCALE          5721 non-null   float64
 6   ECO_Exit_DATE                         5721 non-null   datetime64[ns]
 7   Exit SOCIAL_SCALE                     5721 non-null   float64
 8   Exit KNOWLEDGE_SCALE                  5721 non-null   float64
 9   Exit APPROPRIATE_ACTION_SCALE         5721 non-null   float64
 10  ExitIS_SOCIAL_PROGRESS                5721 non-null   object
 11  ExitIS_KNOWLEDGE_PROGRESS             5721 non-null   object
 12  ExitIS_APPROPRIATE_ACTION_PROGRESS    5721 non-null   object
 13  Initial IFSP Date                     8632 non-null   datetime64[ns]
 14  Exit Reason                           8632 non-null   object
 15  Exit Date                             8632 non-null   datetime64[ns]
 16  <Lookup> Expected Rating              8632 non-null   object
 17  <Calc> Months in Program              8632 non-null   float64
 18  <Calc> Entrance Age (months)          8632 non-null   float64
 19  <Calc> Day count                      5721 non-null   float64
 20  <Calc> Month count                    5721 non-null   float64
 21  <Calc> Missing Entrance Date          2911 non-null   float64
 22  <Calc> Missing Exit Dates             2911 non-null   float64
 23  <Calc> Missing Both Ent & Exit Dates  2911 non-null   float64
 24  <Calc> Record Count                   8632 non-null   float64
 25  <Calc> Day count 182 days +           6806 non-null   float64
 26  <Calc> Exit Day cnt < 182 days        2501 non-null   float64
 27  OC1 Missing Exit Rating               2911 non-null   float64
 28  OC2 Missing Exit Rating               2911 non-null   float64
 29  OC3 Missing Exit Rating               2911 non-null   float64
 30  OC1 Not Expected                      481 non-null    float64
 31  OC2 Not Expected                      481 non-null    float64
 32  OC3 Not Expected                      481 non-null    float64
 33  <Calc> Day count less than 182        2501 non-null   float64
 34  OC1 Useable Data                      5595 non-null   float64
 35  OC2 Useable Data                      5595 non-null   float64
 36  OC3 Useable Data                      5595 non-null   float64
 37  Usable Data on at least one Outcome   5595 non-null   float64
 38  Usable Data on All 3 Outcomes         5595 non-null   float64
 39  OC1 - a                               20 non-null     float64
 40  OC1 - b                               1441 non-null   float64
 41  OC1 - c                               1414 non-null   float64
 42  OC1 - d                               1842 non-null   float64
 43  OC1 - e                               878 non-null    float64
 44  OC1 Data Check                        8632 non-null   float64
 45  OC2 - a                               29 non-null     float64
 46  OC2 - b                               2633 non-null   float64
 47  OC2 - c                               1016 non-null   float64
 48  OC2 - d                               1362 non-null   float64
 49  OC2 - e                               555 non-null    float64
 50  OC2 Data Check                        8632 non-null   float64
 51  OC3 - a                               14 non-null     float64
 52  OC3 - b                               1430 non-null   float64
 53  OC3 - c                               816 non-null    float64
 54  OC3 - d                               1760 non-null   float64
 55  OC3 - e                               1575 non-null   float64
 56  OC3 Data Check                        8632 non-null   float64
 57  Days btw Initial and Exit             8632 non-null   float64
 58  Days btw I-IFSP to Exit ECO           8632 non-null   float64
 59  Days btw I-IFSP to entry ECO          8632 non-null   float64
dtypes: datetime64[ns](4), float64(50), object(6)
memory usage: 4.0+ MB

In [68]:
# Access raw dataframe
eco_21_22_data = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="Elig Timeline Rpt 2018-2022")
eco_21_22_data.head()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [69]:
# Display columns in dataframe
eco_21_22_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67610 entries, 0 to 67609
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   District                                          67610 non-null  object
 1   Child ID                                          67610 non-null  int64
 2   Child Status                                      67610 non-null  object
 3   Child Phase                                       67610 non-null  object
 4   Init. IFSP Due Date                               67610 non-null  datetime64[ns]
 5   IFSP Due Date                                     33237 non-null  datetime64[ns]
 6   IFSP Late Reason                                  4780 non-null   object
 7   Active Ref. Date                                  67610 non-null  datetime64[ns]
 8   Parent Consent/Intake Date                        49210 non-null  datetime64[ns]
 9   Date Dev. Evaluator Rec'd. Ref.                   62074 non-null  object
 10  Date Assigned to Dev. Evaluator                   62074 non-null  object
 11  Dates Dev. Evaluator Attempted to Contact Family  55645 non-null  object
 12  Date Dev. Evaluator Actually Contacted Family     50163 non-null  object
 13  Dates Med. Records Requested                      33866 non-null  object
 14  Date Med. Records Rec'd                           36456 non-null  object
 15  Date Med. Records Entered                         36521 non-null  object
 16  TEIS Vision Screening Form?                       67610 non-null  object
 17  TEIS Hearing Screening Form?                      67610 non-null  object
 18  Date Initial Dev. Eval. Completed                 49942 non-null  object
 19  Motor DQ                                          23047 non-null  float64
 20  Cognitive DQ                                      23042 non-null  float64
 21  Communication  DQ                                 23043 non-null  float64
 22  Self Help DQ                                      23039 non-null  float64
 23  Social/Emotional DQ DQ                            23036 non-null  float64
 24  # Days Ref. to Init. Contact                      55641 non-null  float64
 25  # Days Ref. to Actual Contact                     50163 non-null  float64
 26  # Days Ref. to Dev. Evaluator Ref. Rec'd          62074 non-null  float64
 27  # Days Ref. to Completion of Dev. Eval.           49942 non-null  float64
 28  # Days Parent Consent to Dev. Eval.               48899 non-null  float64
 29  # Days Dev. Evaluator Assigned to Dev. Eval.      47014 non-null  float64
 30  1st Date Requested to Receipt of Med. Records     32340 non-null  float64
 31  # Days Dev. Eval. to Elig. Det.                   49148 non-null  float64
 32  # Days Ref. to Elig. Det.                         49151 non-null  float64
 33  Init. Elig. Decision                              67610 non-null  object
 34  Init. Elig. Category                              38290 non-null  object
 35  Init. Elig. Det. Date                             49151 non-null  datetime64[ns]
 36  Exit Date                                         59456 non-null  datetime64[ns]
 37  Exit Reason                                       59456 non-null  object
dtypes: datetime64[ns](6), float64(14), int64(1), object(17)
memory usage: 19.6+ MB

#### Case Management Life Cycle

In [70]:
# Essential columns from 'ECO with Exit21-22' 
eco_21_22_exit = eco_21_22_exit[['DISTRICT', 'CHILD_ID', 'Days btw Initial and Exit', 'Days btw I-IFSP to entry ECO']]
eco_21_22_exit.head()

  DISTRICT  CHILD_ID  Days btw Initial and Exit  Days btw I-IFSP to entry ECO
0       ET  500335.0                      206.0                           0.0
1       ET  479453.0                      704.0                           0.0
2       ET  510663.0                      115.0                      -44483.0
3       ET  452482.0                     1053.0                           0.0
4       ET  506507.0                      159.0                      -44434.0

In [71]:
# Change name of essential columns
eco_21_22_exit = eco_21_22_exit.rename(columns={'DISTRICT':'District', 'CHILD_ID':'Child ID', 'Days btw Initial and Exit':'Initial to Exit', 'Days btw I-IFSP to entry ECO':'I-ISFP to Entry'})
eco_21_22_exit.head()

  District  Child ID  Initial to Exit  I-ISFP to Entry
0       ET  500335.0            206.0              0.0
1       ET  479453.0            704.0              0.0
2       ET  510663.0            115.0         -44483.0
3       ET  452482.0           1053.0              0.0
4       ET  506507.0            159.0         -44434.0

In [72]:
# Remove null values from essential columns
eco_21_22_exit = eco_21_22_exit.dropna()
eco_21_22_exit.head()

  District  Child ID  Initial to Exit  I-ISFP to Entry
0       ET  500335.0            206.0              0.0
1       ET  479453.0            704.0              0.0
2       ET  510663.0            115.0         -44483.0
3       ET  452482.0           1053.0              0.0
4       ET  506507.0            159.0         -44434.0

In [73]:
# Change data types of essential columns
eco_21_22_exit = eco_21_22_exit.astype({'District':'str', 'Child ID':'int', 'Initial to Exit':'int', 'I-ISFP to Entry':'int'})
eco_21_22_exit.head()

  District  Child ID  Initial to Exit  I-ISFP to Entry
0       ET    500335              206                0
1       ET    479453              704                0
2       ET    510663              115           -44483
3       ET    452482             1053                0
4       ET    506507              159           -44434

In [74]:
# Filter 0 and negative values from the 'I-ISFP to Entry' column
eco_21_22_exit = eco_21_22_exit[eco_21_22_exit['I-ISFP to Entry'] > 0]
# Filter entries from 'Initial to Exit' column that are less than 6 months (180 days)
eco_21_22_exit = eco_21_22_exit[eco_21_22_exit['Initial to Exit'] >= 180]
eco_21_22_exit.head()

   District  Child ID  Initial to Exit  I-ISFP to Entry
6        ET    449725              444               90
11       ET    473375              836               23
13       ET    473208              493               32
16       ET    491757              234               49
21       ET    494701              219               68

In [78]:
# Change name of 'Init. Elig. Category' columns from 'Elig Timeline Rpt 2018-2022'
eco_21_22_data = eco_21_22_data.rename(columns={'Init. Elig. Category':'Init Elig Category'})
eco_21_22_data.head()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init Elig Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [79]:
# Essential columns from 'Elig Timeline Rpt 2018-2022'
eco_21_22_data = eco_21_22_data[['District', 'Child ID', 'Init Elig Category']]
eco_21_22_data.head()

  District  Child ID                             Init Elig Category
0       ET    453926                       Developmental Evaluation
1       ET    431729  Diagnosed Condition, Developmental Evaluation
2       ET    462474                       Developmental Evaluation
3       ET    446841                            Diagnosed Condition
4       ET    459629                       Developmental Evaluation

In [ ]:
# Merge the eco_21_22_exit and eco_21_22_data dataframes
serv_lifecycle = DataFrame.merge(eco_21_22_exit, eco_21_22_data, how='inner')

#### Services Provided Life Cycle

#### Merge Above DataFrames

#### Visuals